// background colors
$background-color: #161616;
$seperator-color: #2d2d2d;
$secondary-background-color: #3b3b3b;

// font colors
$primary-color: white;
$secondary-color: #7e7979;
$accent-color: #f02a28;

// misc
$border-radius: 1.25rem;